{% extends "myblog/base.html" %}
{% load myblog_tags %}
{% load crispy_forms_tags %}


{% block title %}{{ post.title }}{% endblock %}
{% block page-title %}Single Blog post{% endblock %}
<!-- 
{% block content %}
  <h1>{{ post.title }}</h1>
  <p class="date">
    Published {{ post.publish }} by {{ post.author }}
  </p>
  {{ post.body|markdown }}

  {% for tag in post.tags.all %}
  {{ tag.name }}
  {% endfor %}

  <p>
    <a href="{% url 'myblog:post_share' post.id %}">
      Share this post
    </a>
  </p>
  <h2>Similar posts</h2>
  {% for post in similar_posts %}
    <p>
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </p>
  {% empty %}
    There are no similar posts yet.
  {% endfor %}
  
  {% with comments.count as total_comments %}
  <h2>
    {{ total_comments }} comment{{ total_comments|pluralize }}
  </h2>
  {% endwith %}
  {% for comment in comments %}
  <div class="comment">
    <p class="info">
      Comment {{ foorloop.counter }} by {{ comment.name }}
      {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
  </div>
  {% empty %}
  <p>There are no comment yet</p>
  {% endfor %}

  {% if new_comment %}
  <h2>Your comment has been added</h2>
  {% else %}
  <form action="" method="post">
    {{ comment_form|crispy }}
    {% csrf_token %}
    <p> <input type="submit" class="btn btn-main btn-round-full" value="Add comment"></p>
    </form>
  {% endif %} -->

  {% block blog_posts %}
  <div class="col-lg-12 mb-5">
    <div class="single-blog-item">
      <img loading="lazy" src="{{ post.thumbnail.url }}" alt="blog" class="img-fluid rounded">

      <div class="blog-item-content bg-white p-5">
        <div class="blog-item-meta bg-gray pt-2 pb-1 px-3">
          <span class="text-muted text-capitalize mr-3"><i class="ti-pencil-alt mr-2"></i>Creativity</span>
          {% with comments.count as total_comments %}
          <span class="text-muted text-capitalize mr-3"><i class="ti-comment mr-2"></i>{{ total_comments }} Comment{{ total_comments|pluralize }}</span>
          {% endwith %} 
          <span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i>{{ post.publish|date:"M d, Y" }}</span>
        </div>

        <h2 class="mt-3 mb-4">{{ post.title }}</h2>
        <p class="lead mb-4">  {{ post.body|markdown }}</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus natus, consectetur? Illum libero
          vel nihil nisi quae, voluptatem, sapiente necessitatibus distinctio voluptates, iusto qui. Laboriosam
          autem, nam voluptate in beatae.</p>

        <h3 class="quote">A brand for a company is like a reputation for a person. You earn reputation by trying
          to do hard things well.</h3>

        <p class="lead mb-4 font-weight-normal text-black">The same is true as we experience the emotional
          sensation of stress from our first instances of social rejection ridicule. We quickly learn to fear
          and thus automatically.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, rerum beatae repellat tenetur
          incidunt quisquam libero dolores laudantium. Nesciunt quis itaque quidem, voluptatem autem eos animi
          laborum iusto expedita sapiente.</p>

        <div class="tag-option mt-5 d-block d-md-flex justify-content-between align-items-center">
          <ul class="list-inline">
            <li>Tags:</li>
            {% for tag in post.tags.all %}
            <li class="list-inline-item"><a href="{% url 'myblog:post_list_by_tag' tag.slug %}" rel="tag"> {{ tag.name }}</a></li>
           {% endfor %}

          </ul>

          <ul class="list-inline">
            <li class="list-inline-item"> Share this post: </li>
            <li class="list-inline-item">
              <a href="{% url 'myblog:post_share' post.id %}" aria-hidden="true">
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <h2>Similar posts</h2>
  <div class="col-lg-12 mb-5">
    <div class="posts-nav bg-white p-5 d-lg-flex d-md-flex justify-content-between ">
      {% for post in similar_posts %}
      <a class="post-prev align-items-center" href="{{ post.get_absolute_url }}">
        <div class="posts-prev-item mb-4 mb-lg-0">
          <span class="nav-posts-desc text-color">- Read Now</span>
          <h6 class="nav-posts-title mt-1">
            {{ post.title|linebreaks }} 
          </h6>
        </div>
      </a>
      <div class="border"></div>
      {% empty %}
      There are no similar posts yet.
    {% endfor %}
    </div>
  </div>

  <div class="col-lg-12 mb-5">
    <div class="comment-area card border-0 p-5">
      {% with comments.count as total_comments %}
      <h4 class="mb-4">{{ total_comments }} Comment{{ total_comments|pluralize }}</h4>
      {% endwith %}
      <ul class="comment-tree list-unstyled">
        {% for comment in comments %}
        <li class="mb-5">
          <div class="comment-area-box">
            <!-- <img loading="lazy" alt="comment-author" src="images/blog/test1.jpg" class="img-fluid float-left mr-3 mt-2"> -->

            <h5 class="mb-1">{{ foorloop.counter }} {{ comment.name }}</h5>
            <!-- <span>United Kingdom</span> -->

            <div class="comment-meta mt-4 mt-lg-0 mt-md-0 float-lg-right float-md-right">
              <a href="#"><i class="icofont-reply mr-2 text-muted"></i>Reply |</a>
              <span class="date-comm">Posted {{ comment.created|date:"M d, Y" }} </span>
            </div>

            <div class="comment-content mt-3">
              <p>{{ comment.body|linebreaks }} </p>
            </div>
          </div>
          {% empty %}
          <p>There are no comments yet</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="col-lg-12">
    {% if new_comment %}
  <h2>Your comment has been added</h2>
  {% else %}
    <form class="contact-form bg-white rounded p-5" id="comment-form" method="post" action="">
      <h4 class="mb-4">Write a comment</h4>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            {{ comment_form.name|as_crispy_field }}
            <!-- <input class="form-control" type="text" name="name" id="name" placeholder="Name:"> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            {{ comment_form.email|as_crispy_field }}
            <!-- <input class="form-control" type="text" name="mail" id="mail" placeholder="Email:"> -->
          </div>
        </div>
      </div>
        {{ comment_form.body|as_crispy_field }}
      <input class="btn btn-main btn-round-full" type="submit" name="submit-contact" id="submit_contact"
        value="Submit Comment">
        {% csrf_token %}
    </form>
    {% endif %}
  </div>
  {% endblock %}

{% endblock %}
