
    {% for posts in latest_posts %}
    <!-- <li>
        <a href="{{ post.get_absolute_url }}">{{ posts.title }}</a>
    </li>
     -->
    <div class="media border-bottom py-3">
        <a href="#"><img loading="lazy" class="mr-4" src="images/blog/bt-3.jpg" alt="blog"></a>
        <div class="media-body">
            <h6 class="my-2"><a href="{{ posts.get_absolute_url }}">{{ posts.title }}</a></h6>
            <span class="text-sm text-muted">{{ created }}</span>
        </div>
    </div>
    {% endfor %}
