{% extends "myblog/base.html" %}
{% load crispy_forms_tags %}


{% block title %}Share a post{% endblock %}
{% block page-title %}Share a post{% endblock %}


{% block blog_posts %}
  {% if sent %}
  <h3 class="text-md mb-4">E-mail successfully sent</h3>
    <p>
      "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
    </p>
  {% else %}
  <h3 class="text-md mb-4">Share "{{ post.title }}" by e-mail</h3>
    <form method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <input type="submit" class="btn btn-main" value="Send e-mail">
    </form>
  {% endif %}
{% endblock %}