{% extends "myblog/base.html" %}
{% load crispy_forms_tags %}


{% block title %}Share a post{% endblock %}
{% block page-title %}Share a post{% endblock %}


{% block blog_posts %}
  {% if sent %}
  <h3 class="text-md mb-4" style="color: green;">E-mail successfully sent!</h3>
    <p>
      <h6 style="color: green;"><i> "{{ post.title }}"</i> was successfully sent to {{ form.cleaned_data.to }}.</h6> 
    </p>
    <a href="{% url 'myblog:post_list' %}"><button class="btn btn-main">Back to Posts </button></a>
  {% else %}
  <h3 class="text-md mb-4">Share "{{ post.title }}" by e-mail</h3>
    <form method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <input type="submit" class="btn btn-main" value="Send e-mail">
    </form>
  {% endif %}
{% endblock %}